Qa server,Qa os,Qa kernal version,Qa patched date,Qa local accounts,Qa local accounts max days,Qa local groups,Qa_snmpd_status,Qa ase status,Qa sssd status,Qa cma status,Qa rsyslog status,Qa rscd status,Qa ntpd status,Qa snmp status,Qa rpm ntpd status,Qa mfetpcli status
{{ Qa_server }},{{ Qa_os }},{{ Qa_kernal_version }},{{ Qa_patched_date }},{{ Qa_local_accounts }},{{ Qa_local_max_days }},{{ Qa_local_groups }},{{ Qa_snmpd_status }},{{ Qa_ase_status }},{{ Qa_sssd_status }},{{ Qa_cma_status }},{{ Qa_rsyslog_status }},{{ Qa_rscd_status }},{{ Qa_ntpd_status }},{{ Qa_snmp_status }},{{ Qa_rpm_ntpd_status }},{{ Qa_mfetpcli_status }}
